@import './base.css';
@import './reset.css';
#app {
  width: 100vw;
  margin: 0 auto;
  padding: 0;

  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}
